views/contact.html

<div class="ng-cloak">
  <md-content class="md-margin"></md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text><span class="md-title">Luna Lovegood</span><span class="md-subhead">Wit beyond measure is man's greatest treasure</span></md-card-header-text>
    </md-card-header>
    <md-card-content>
      <pre>ricochet:gbwj45fkubfqzzlr</pre>
    </md-card-content>
  </md-card>
</div>

jade/views/contact.jade
//output: ../../views/contact.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title Luna Lovegood
        span.md-subhead Wit beyond measure is man's greatest treasure
    md-card-content
      p
        | Hom ckxpt faji yfsrxa ukqlb fgmw hom rzvj edzwn. Hf bmae qm za mrmphwfaxp qzxr kbm hoxb zeewmbb: medxaomwm zh yqzxr efh pfq.
