jade/views/home.jade
//output: ../../views/home.html
.ng-cloak
  md-content(class="md-margin")
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      md-button.md-primary(ng-click="ctrl.download('day')") Daily
      md-button.md-primary(ng-click="ctrl.download('week')")  Weekly
      md-button.md-primary(ng-click="ctrl.download('month')")  Monthly
      md-button.md-primary(ng-click="ctrl.download('year')")  Yearly
      md-button.md-primary(ng-click="ctrl.download('all')")  All Time
  div(ng-show="ctrl.loading" layout='row', layout-sm='column', layout-align='space-around')
    md-progress-circular(md-mode='indeterminate')
  md-list(ng-cloak)
    md-card(ng-repeat="listing in ctrl.list")
      md-card-title
        md-card-title-text
          span.md-title
            a(href="{{listing.url}}" ng-bind-html="listing.title" target="_blank")
      md-card-actions(layout='row', layout-align='end center')
        md-button(href='{{"https://reddit.com" + listing.permalink}}' target="_blank") {{listing.ups}} votes
        md-button(href='{{"https://reddit.com" + listing.permalink}}' target="_blank") {{listing.comments}} comments

views/home.html

<div class="ng-cloak">
  <md-content class="md-margin">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
      <md-button ng-click="ctrl.download('day')" class="md-primary">Daily</md-button>
      <md-button ng-click="ctrl.download('week')" class="md-primary"> Weekly</md-button>
      <md-button ng-click="ctrl.download('month')" class="md-primary"> Monthly</md-button>
      <md-button ng-click="ctrl.download('year')" class="md-primary"> Yearly</md-button>
      <md-button ng-click="ctrl.download('all')" class="md-primary"> All Time</md-button>
    </section>
  </md-content>
  <div ng-show="ctrl.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-list ng-cloak="ng-cloak">
    <md-card ng-repeat="listing in ctrl.list">
      <md-card-title>
        <md-card-title-text><span class="md-title"><a href="{{listing.url}}" ng-bind-html="listing.title" target="_blank"></a></span></md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button href="{{&quot;https://reddit.com&quot; + listing.permalink}}" target="_blank">{{listing.score | number:2}} score</md-button>
        <md-button href="{{&quot;https://reddit.com&quot; + listing.permalink}}" target="_blank">{{listing.ups}} votes</md-button>
        <md-button href="{{&quot;https://reddit.com&quot; + listing.permalink}}" target="_blank">{{listing.comments}} comments</md-button>
      </md-card-actions>
    </md-card>
  </md-list>
</div>
